* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;

  /*navbar
  **********************************************************************************************/
}

body {
  background-color: black;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: silver;
  backdrop-filter: blur(10px);
  color: silver;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 999;
}

.naam {
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3 ease-in-out;
}

.naam:hover {
  transform: scale(1.1);
}

.links-header {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: black;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 1rem;
  transition: 0.3 ease-in-out;
  background: linear-gradient(to right, white, black);
}

li a:hover::before {
  width: 100%;
}

.knop1 {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3 ease-in-out;
  background: linear-gradient(to right, white, black);
}

.knop1:hover {
  transform: scale(1.03);
  background: linear-gradient(to right, black, white);
}

#navbar {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}
/*over mij
*************************************************************************************************************/
.over-mij {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.over-mij .over-mij-inhoud {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.over-mij img {
  width: 30vw;
  border-radius: 50%;
}

.info-over-mij {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1.5rem;
}

.info-over-mij h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.info-over-mij h1 {
  font-size: 4rem;
  font-weight: 600;
}

.knoppen-over-mij {
  display: flex;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.knop2 {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}

.knop2:hover {
  background-color: white;
  color: black;
}

.links-over-mij {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.links-over-mij i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.links-over-mij i:hover {
  transform: scale(1.1);
}

/* CV + scrollbar
***********************************************************************************************/

/*.sectie-cv{




}*/

.titel-cv {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: white;
}

.info-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.grid-cv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.sectie-grid-cv {
  border: 2px solid white;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;

  transition: 0.2s ease-in-out;
  color: white;
}

.sectie-grid-cv:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.sectie-grid-cv i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*scrollbar
***************************************************************************************************************/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, white, black);
}

/* projecten
******************************************************************************************************************/

.grid-projecten {
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
}

.grid-sectie-projecten {
  border: 2px solid white;
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  transition: 0.2s ease-in-out;
  color: white;

  /*padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid white;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;*/
}

.grid-sectie-projecten:hover {
  background-color: white;
  color: black;
}

.grid-sectie-projecten img {
  width: 20vw;
  border-radius: 1rem;
}

.grid-sectie-projecten h3 {
  font-size: 2rem;
  font-weight: 500;
}

.titel-projecten {
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}
